@use 'sass:map';

$grey800: #222020;
$grey200: #a89e9e;
$grey700: #3e3b3b;
$faded-grey: #3f3f3f;

$body-bg: #191919;
$body-color: #f5f5f5;
$border-radius: 0;

$input-bg: $body-color;
$input-color: $body-bg;
$input-border-width: 0;
$input-focus-border-color: $input-bg;
// $input-placeholder-color: $grey200;

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$input-group-addon-bg: #222020;
// $font-family-base: 'Roboto';
$theme-colors: (
    'primary': $body-color,
    'secondary': $body-bg,
    'light-gray': #c0c0c0,
    'dark-gray': #343434,
);

// $card-border-radius: 1.5rem;
$card-bg: $grey800;
$card-height: 13rem;

$modal-content-border-radius: 1.8rem;
$modal-header-border-width: 0;
$modal-content-bg: $grey800;
$modal-backdrop-opacity: 0.7;
$modal-inner-padding: 1rem;

// $input-border-color: #5f5858;
// $input-focus-border-color: $input-border-color;

$form-range-track-bg: $grey700;
$form-range-thumb-bg: map.get($theme-colors, 'primary');

$container-max-widths: (
    sm: 540px,
    md: 700px,
    lg: 900px,
    xl: 1040px,
    xxl: 1120px,
);

$utilities: (
    'width': (
        property: width,
        class: w,
        values: (
            25: 25%,
            40: 40%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto,
        ),
    ),
);
